<h1 style="text-align:center; color:white">Add new race</h1>
<div class="box">
    <form method="post">
        <table style="height: 200px">
            <tr>
                <td>
                    <label for="name">Name</label>
                </td>
                <td width="100px">
                    <input type="text" class="form-control" id="name" name="name" />
                </td>
            </tr>

            <tr>
                <td>
                    <label for="date">Date</label>
                </td>
                <td width="300px">
                    <input type="text" class="form-control" id="date" name="date" placeholder="dd/mm/yyyy"/>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Submit</p>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<style>
    div.box {
        margin-left: 420px;
        text-align: center;
        width: 450px;
        height: 200px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
        background-color:white;
    }

        body {
  background-image: url("https://www.linkpicture.com/q/race-track-finish-line-racing-night_115579-616_1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>