<div class="box">
    <ul class="list-group">
        @foreach (var race in Model)
        {
            <li class="list-group-item">@race.Name @race.Date</li>
        }
    </ul>
</div>

<link rel="stylesheet" href="~/css/RaceCss/All.css"></link>