<div class="box">
    <table>
        <tr> <th> Race </th> <th> Date </th> </tr>
        @foreach (var race in Model)
        {
            <tr>
                <td>
                    @race.Name
                </td>

                <td>
                    @race.Date
                </td>

                @if (this.User.IsInRole("Admin"))
                {
                    <td>
                        <a href="/Delete/DeleteRace?id=@race.Id" class="btn btn-primary">Delete</a>
                    </td>
                }

            </tr>
        }
    </table>
</div>

<link rel="stylesheet" href="~/css/RaceCss/All.css"></link>