ul {
    list-style-type: none;
    background-color: #333;
}

li {
    float: left;
}

li a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

body {
    background-image: url("C:\Users\svilen\Desktop\background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}