a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}

    a:hover {
        color: black;
    }

body {
    background-image: url("https://github.com/svilenJUNIOR/GTNews_Resources/blob/main/GuestHomePageBackground.jpeg?raw=true");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
