@foreach(var championship in Model)
{
    <div class="card" style="width: 18rem;">
  <img src="http://www.dailysportscar.com/wp-content/uploads/2020/01/GT-World-Challenge-AWS-Logo.jpg" class="card-img-top">
  <div class="card-body">
       <h5 class="card-title">@championship.Name</h5>
    <a href="/Championship/Details?id=@championship.Id" class="btn btn-primary">See teams participating</a>
  </div>
</div>
}

