@model List<GtRacingNews.ViewModels.Championship.ViewAllChampionshipsViewModel>

<div class="row">
    @foreach (var championship in Model)
    {
        <div class="card" style="width: 20rem; margin-left: 10px;">
            <img src="@championship.LogoUrl" class="card-img-top" style="height: 200px;">
            <div class="card-body">
                <h5 class="card-title"><strong>Name:</strong> @championship.Name</h5>
                <h5 class="card-title"><strong>Teams:</strong> @string.Join(", ", @championship.Teams)</h5>

                @if (this.User.IsInRole("Admin"))
                {
                    <a href="/Admin/Delete/DeleteChampionship?id=@championship.ChampionshipId" class="btn btn-primary">Delete</a>
                }

            </div>
        </div>
    }
</div>
<link rel="stylesheet" href="~/css/ChampionshipCss/All.css"></link>