@model GtRacingNews.ViewModels.Championship.ViewDetailsViewModel

<table>
    <tr><th colspan="2"><h1>@Model.ChampionshipName</h1></th></tr>

    @{
        foreach (var key in Model.Drivers)
        {
            <tr>
                <td>
                <h2>@key.Key</h2></td>
                </tr>
            foreach (var value in key.Value)
            {
                <tr>
                    <td>
                        <p> @string.Join(", ", @value)</p>
                    </td>
                </tr>
            }
        }
    }
</table>

<style>
    table, th, td, tr {
        border: 1px solid black;
    }
</style>