@model List<GtRacingNews.ViewModels.News.ShowAllNewsViewModel>

<div class="row">
    @foreach (var news in @Model)
    {
        <div class="card" style="width: 18rem; margin-left: 10px; margin-top: 10px">
            <img src="@news.ImgUrl" class="card-img-top" style="height:10rem;">
            <div class="card-body">
                <h5 class="card-title">@news.Heading</h5>
                <h5 class="card-title"><a href="/All/NewsDetails?id=@news.Id" class="btn btn-primary">Read...</a></h5>
            </div>
        </div>
    }
</div>

<link rel="stylesheet" href="~/css/All.css"></link>
<script src="~/js/WeatherWidgetJs.js"></script>