@using GtRacingNews.ViewModels.Race
@model List<ViewAllRacesViewModel>

@{
    <div class="first">
        <div style="margin-top:15px">
            <table style="width: 400px;">
                @foreach (var race in Model)
                {
                    <tr style="border: 1px solid black; background-color: white">
                        <td style="border: 1px solid black; background-color: white">
                            @race.Name - @race.Date

                            @{
                                if (@race.HasFinishied)
                                {
                                    <a href="/Race/Result?championshipName=@race.ChampionshipName" class="btn btn-primary">Results</a>
                                }
                                else
                                {
                                    <button disabled style="color: black">Not Finished Yet!</button>
                                }
                            }

                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}


<link rel="stylesheet" href="~/css/RaceCss/All.css">