h1{
    text-align:center;
    font-size:100px;
    color: white;
}

body {
    background-image: url("https://www.linkpicture.com/q/test_auto_x2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
#LatestNews{
    margin-top: 0px;
    margin-left: 300px;
    width: 800px;
    height: 500px;
}
