<form method="post">

  <div class="mb-3">
    <label for="model">Model</label>
    <input type="text" class="form-control" id="model" name="model" />
  </div>

    <div class="mb-3">
    <label for="imageUrl">ImageUrl</label>
    <input type="text" class="form-control" id="imageUrl" name="imageUrl" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>