<form method="post">

  <div class="mb-3">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" />
  </div>

  <div class="mb-3">
    <label for="carModel">CarModel</label>
    <input type="text" class="form-control" id="carModel" name="carModel" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>