<form method="post">

  <div class="mb-3">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" name="name" placeholder="Enter the name of the desired championship."/>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>