@foreach(var team in Model)
{
    <div class="card" style="width: 18rem;">
  <img src="https://images.netdirector.co.uk/gforces-auto/image/upload/w_600,h_450,dpr_2.0,q_auto,c_fill,f_auto,fl_lossy/auto-client/4c8209189f347cf823e72fa8afe6fa76/asasasasasa.jpg" class="card-img-top">
  <div class="card-body">
       <h5 class="card-title">@team.Name</h5>
    <a href="/Team/AddToChampionship?id=@team.Id" class="btn btn-primary">Add to championship</a>
  </div>
</div>
}

