@model List<GtRacingNews.ViewModels.Team.ViewAllTeamsViewModel>

<div class="row">
    @foreach (var team in Model)
    {
        <div style="width: 20rem;">
            <img src="@team.LogoUrl" class="card-img-top" style="height: 200px">
        </div>
    }
</div>
