<div class="row">
    @foreach (var team in Model)
    {
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@team.LogoUrl">
                <div class="card-body">
                    <h5 class="card-title">@team.Name</h5>
                    <a href="/Team/AddToChampionship?teamId=@team.TeamId" class="btn btn-primary">Add to championship</a>
                </div>
            </div>
        </div>
    }
</div>