<h1 style="text-align:center; color:white">Add something interesting, others to read about</h1>
<div class="box">
    <form method="post">
        <table style="height: 200px">
            <tr>
                <td>
                    <label for="heading">Heading</label>
                </td>
                <td width="100px">
                    <input type="text" class="form-control" id="heading" name="heading" value="@Model.Heading" />
                </td>
            </tr>

            <tr>
                <td>
                    <label for="description">Description</label>
                </td>
                <td width="300px">
                    <input type="text" class="form-control" id="description" name="description" value="@Model.Description" />
                </td>
            </tr>

            <tr>
                <td>
                    <label for="pictureUrl">PictureUrl</label>
                </td>
                <td width="300px">
                    <input type="text" class="form-control" id="pictureUrl" name="pictureUrl" value="@Model.PictureUrl" />
                </td>
            </tr>

            <tr>
                <td>
                    <p>Submit</p>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<link rel="stylesheet" href="~/css/NewsCss/AddNewsCss.css"></link>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<script src="~/js/OpenSideMenu.js"></script>
<script src="~/js/CloseSideMenu.js"></script>
