<form method="post">

  <div class="mb-3">
    <label for="heading">Heading</label>
    <input type="text" class="form-control" id="heading" name="heading" />
  </div>

  <div class="mb-3">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" name="description" />
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>

</form>