@model GtRacingNews.ViewModels.News.ReadNewsViewModel

<div class="box">
<p>@Model.Description</p>
</div>

<section id="CommentSection">
    <form method="post" asp-controller="Comment" asp-action="Add">
        <label for="description">Submit your comment</label>
        <input type="text" class="form-control" id="description" name="description"/>
        <button type="submit" class="btn btn-primary" name="newsId" value="@Model.NewsId">Submit</button>
    </form>
</section>

<section id="CommentList">
    <ul>
@{
    foreach (var comment in @Model.Comments)
    {
        <li>@comment</li>
    }
}
</ul>
</section>

<style>
    div.box{
        box-shadow: 0px 0px 10px 0px black;
        background-color:white;
    }
    #CommentList{
        position:absolute;
        right:20px;
    }
</style>