<h1 style="text-align:center; color:white">Login into an account</h1>
<div class="box">
    <form method="post">
        <table style="height: 200px">
            <tr>
                <td>
                    <label for="email">Email</label>
                </td>
                <td width="300px">
                    <input type="text" class="form-control" id="email" name="email"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="password">Password</label>
                </td>
                <td>
                    <input type="password" class="form-control" id="password" name="password" />
                </td>
            </tr>

            <tr>
                <td>
                    <p>Submit</p>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<style>
    div.box {
        margin-left: 420px;
        text-align:center;
        width: 400px;
        height: 200px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
        background-color:white;
    }
        body {
  background-image: url("https://www.linkpicture.com/q/race-track-finish-line-racing-night_115579-616_1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>

