<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GtRacingNews</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GtRacingNews.styles.css" asp-append-version="true" />
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
    <header>

        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">

                @*side bar menu toggle button*@
                <div id="main">
                    <button id="openNav" class="w3-button w3-teal w3-xmedium" onclick="w3_open()">&#9776;</button>
                </div>
                 @*side bar menu toggle button*@

                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GtRacingNews</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="News" asp-action="Add">Add News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="News" asp-action="All">See all news</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Team" asp-action="Add">Add new team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Team" asp-action="All">View all teams</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Championship" asp-action="Add">Add new Championship</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Championship" asp-action="All">View all Championship</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Driver" asp-action="Add">Add new Driver</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Driver" asp-action="All">See all Drivers</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Race" asp-action="Add">Add new race</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Race" asp-action="All">Racing calendar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        @*side bar menu*@
        <div class="w3-sidebar w3-bar-block w3-card w3-animate-left navbar-dark bg-dark" style="display:none" id="mySidebar">
            <button class="w3-bar-item w3-button w3-large nav-link text-light"
                    onclick="w3_close()">
                Close &times;
            </button>
            <a href="/User/Register" class="w3-bar-item w3-button nav-link text-light">Register</a>
            <a href="/User/Login" class="w3-bar-item w3-button nav-link text-light">LogIn</a>
            <a href="/User/Logout" class="w3-bar-item w3-button nav-link text-light">Logout</a>
        </div>

    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
@*
    <footer class="border-top footer text-muted navbar-dark bg-dark">
        <div class="container">
            &copy; 2022 - GtRacingNews  <a class="text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/OpenSideMenu.js"></script>
    <script src="~/js/CloseSideMenu.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
