@{
    ViewData["Title"] = "Home Page";
}


@{
    if (this.User.IsInRole("Admin"))
    {
        <h1>Welcome Admin</h1>
    }
    else
    {
        <link rel="stylesheet" href="~/css/HomeCss/HomePage.css"></link>
    }
}